# Remote: https://raw.githubusercontent.com/freeipa/freeipa-container/master/init-data
# ipa-server-install(1)

IPA_SERVER_IP=127.0.0.1
IPA_SERVER_HOSTNAME=ipa.example.test
IPA_SERVER_INSTALL_OPTS=--unattended --realm=EXAMPLE.TEST --ds-password=CHANGEME --admin-password=CHANGEME