[Container]
Image=quay.io/freeipa/freeipa-server:almalinux-9
ContainerName=freeipa
PublishPort=80:80
PublishPort=88:88
PublishPort=88:88/udp
PublishPort=123:123/udp
PublishPort=389:389
PublishPort=443:443
PublishPort=464:464
PublishPort=464:464/udp
PublishPort=636:636
EnvironmentFile=%h/.env.freeipa
Volume=freeipa-data:/data
AutoUpdate=registry
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300